#intro {
    font-family: lightcoral;
}

#example1 {
    font-family: lightcoral;
}

#example2 {
    font-family: lightcoral;
}

#example3 {
    font-family: lightcoral;
}

#title {
    font-family: lightcoral;
}

#idea {
    font-family: lightcoral;
}